<section aria-labelledby="faq-title" id="faq">
   <section style="background-color: #EBF2FA;">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          Frequent questions and answers
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Because we wonder all day around
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Q: What is PropFix?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              PropFix is a comprehensive building maintenance software designed to streamline property management, making it easier to manage inspections, repairs, and reporting efficiently.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Q: Is PropFix compatible with mobile devices?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Yes, PropFix is compatible with both IOS and Android platforms, ensuring flexibility and accessibility for property managers and inspectors.
            </p>
          
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Q: Is PropFix suitable for small property management companies
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              Yes, PropFix caters to a wide range of property management companies, from small to large. It's a scalable solution that can adapt to your specific needs.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Q: Can I generate professional reports with PropFix?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              A: Absolutely! PropFix offers online and PDF reporting features to generate professional, branded reports. You can also make side-by-side comparisons to assess damage liability and securely share inspection results.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
