<section id="features" style="background-color: #EBF2FA;">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-12 scroll-mt-12">
    <p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter text-center">
      Efficient Building Maintenance Software
    </p>
    <div class="flex flex-wrap justify-center mt-8">

      <!-- Card 1 -->
      <div class="card">
        <div class="text-card">
          <p class="text-lg" style="color: #000000;">
            At PropFix, we recognize the demands of rapid, month-end inspections and the need for a streamlined solution. Our maintenance software, compatible with both IOS and Android platforms, simplifies the inspection process and saves you valuable time.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <div class="text-card">
          <p class="text-lg" style="color: #000000;">
            With our app, you can easily reuse unchanged inspection data, reducing the hours spent on repetitive tasks during critical periods.
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card">
        <div class="text-card">
          <p class="text-lg" style="color: #000000;">
            Our unique condition toggle system ensures concise and objective defect capturing, minimizing room for interpretation. Once data is uploaded, you can harness the power of our online and PDF reporting features to generate professional, branded reports, make side-by-side comparisons to assess damage liability, and securely share inspection results.
          </p>
        </div>
      </div>
    </div>

    <div class="mt-4 text-center">
      <button class="my-button">
        SHOW ME HOW IT WORKS
      </button>
    </div>
  </div>
</section>

<style>
  /* Card Styles (with drop shadow) */
  .card {
    width: calc(33.33% - 20px); /* Varying card sizes with some spacing */
    margin: 10px;
    background-color: #F9FAFB; /* Change card background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow to the cards */
    border-radius: 10px;
  }

  /* Text Styles */
  .text-card {
    padding: 20px;
  }

  /* Button Styles */
  .my-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .my-button:hover {
    background-color: #7A0008;
  }
</style>
 